{{!-- Partial template for rendering a card with pokemon information --}}
<div id="single-pokemon" class="card border border-dark shadow" style="width: 18rem;">
    <img
        src={{sprites.other.official-artwork.front_default}}
        class="card-img-top"
        alt={{name}}
    />
    <div class="card-body text-white">
        <h5 class="card-title">{{capitalize name}}</h5>
        <h6 class="card-text">#{{id}}</h6>
        <h6 class="card-text">{{capitalize types.0.type.name}}{{#if types.1.type.name}} / {{capitalize types.1.type.name}}{{/if}}</h6>
    </div>
    <ul class="list-group list-group-flush">
        {{#each stats}}
            <li class="list-group-item">{{capitalize stat.name}}: {{base_stat}}</li>
        {{/each}}
    </ul>
</div>